body
{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-image: url(Media/Night.JPG);
    background-repeat: repeat;
    background-size: 100vw;
    margin: 0;
    font-family: 'Play';

}

a
{
    display: block;
    text-align: center;
    font-size: 1.9vh;
    color: cadetblue;
    text-decoration: none;
}

a:hover
{
    color: azure;
}

header
{
    color: cadetblue;
    text-align: center;
}

main
{
    width: 90vw;
    margin: auto;
    color: cadetblue;
}

.flex
{
    display: flex;
    justify-content: space-around;
}



.exscr
{
    max-width: 10vw;
}

.flex img:hover
{
    opacity: 0.7;
}

footer
{
    margin: 2vh 0 0 0;
    padding: 1vh 1vw 1vh 1vw;
    border-top: 0.2vh solid rgb(36, 36, 36);
    background-color: rgba(27, 27, 27, 0.7);
    color: cadetblue

}

#footerflex
{
    display: flex;
    justify-content: space-between;
    font-size: 2vh;
}

.footersect
{
    width: 45vw;
    text-align: justify;
}

#footerflex a
{
    display: inline;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   

::-webkit-scrollbar-thumb {
    background: #888; 
}
  

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}